################################################################################
# Visual Studio
################################################################################

**/.vs/*
**/.vscode/*

# Include ignored files
!**/.vs/launch.vs.json

################################################################################
# CMake
################################################################################

**/build*/
**/install*/
**/output*/
**/__build*/
**/__install*/
**/__output*/
