################################################################################
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
################################################################################

# Available default styles:
#   LLVM, Google, Chromium, Mozilla, WebKit, Microsoft, GNU
BasedOnStyle: Mozilla
# Always break after an open bracket, if the parameters don't fit on a single
# line.
AlignAfterOpenBracket: AlwaysBreak
# If a function call or braced initializer list doesn’t fit on a line, allow
# putting all arguments onto the next line, even if 'BinPackArguments' is false.
AllowAllArgumentsOnNextLine: true
#  Always break before braces.
BreakBeforeBraces: Allman
# # If true, clang-format adds missing namespace end comments for namespaces and
# fixes invalid existing ones.
FixNamespaceComments: true
# Preprocessor directive indenting style to use
IndentPPDirectives: AfterHash
# The maximal number of unwrapped lines that a short namespace spans.
ShortNamespaceLines: 0
